<div class="mx-auto">
<h1 class="font-weight-bolder display-5">Home</h1>
  
    <% @tweets.each do |tweet| %>
    <div class="card my-2">
      <div class="card-body">
        <p class="card-text">
          <%= tweet.tweet %>
        </p>
      </div>
    </div>
      <!-- <tr>
        <td><%= tweet.tweet %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
    <% end %>
  
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary" %>

</div>
