<!DOCTYPE html>
<html>
  <head>
    <title>TweeterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="container d-sm-flex">

    <div class="col-sm-3">
      <%= render 'layouts/navigation'%>
    </div>
    
      <div class="col-sm-6">
      <%= render 'layouts/messages'%>
          <%= yield %>
      </div>
      <div class="col-sm-6">
          <%= render 'layouts/search-form'%>
      </div>
    </div>
  </body>
</html>
